@use '_functions' as f;

.enter {
    display: flex;
    width: 100%;

    &_text {
        flex-grow: 1;
        padding: f.rem(10) f.rem(12);
        margin-right: f.rem(16);
        background-color: #383A3F;
        font-size: f.rem(16);
        
        color: #fff;
        //border: f.rem(2) solid #81848D;
        border: none;

        border-radius: f.rem(8);

        outline: none;
    }


}

