@use '_functions' as f;

.grid {
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: center;
    gap: f.rem(48);
    width: min(100% - f.rem(40), f.rem(600));
    margin-inline: auto;
    margin-top: f.rem(48);

    &_topbox {
        display: flex;
        flex-direction: column;
        gap: f.rem(16);
        padding: f.rem(20) f.rem(24);
   
        background-color: var(--projectbg);
        //border: 1px solid rgb(222, 222, 222, 0.2);
        //box-shadow: f.rem(1) f.rem(1) f.rem(12) f.rem(2) rgba(147, 147, 147, 0.1);

        border-radius: f.rem(8);
    }

    &_downbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: f.rem(48);
        min-width: f.rem(400);
        margin-bottom: f.rem(48);
        //border: 2px solid black;
    }
}