@use '_functions' as f;

.item {
    display: flex;
    align-items: flex-start;
    gap: f.rem(12);
    height: f.rem(58.8);
    padding: f.rem(14) f.rem(14) f.rem(16) f.rem(14);
    background: var(--itembg);
    border-radius: f.rem(8);
    transition: transform 0.5s ease, opacity 0.5s ease;
    overflow: hidden;
    
    &_enter {
        display: flex;
        flex-direction: column;
        gap: f.rem(8);
        width: 100%;
        
    }

    &_enter-title {
        font-size: f.rem(20);
        border: none;
        outline: none;
        color: #fff;
        background-color: var(--itembg);
        //font-weight: bold;
    }

    &_enter-title-true {
        color: rgb(161, 161, 161);
        text-decoration: line-through;
        text-decoration-color: rgb(161, 161, 161);
    }


    &_enter-remark {
        padding-bottom: f.rem(4);
        font-size: f.rem(14);
        border: none;
        background-color: var(--itembg);
        color: rgb(161, 161, 161);
        border-bottom: f.rem(1) solid #81848D;
        outline: none;
        opacity: 0;
    }

    &_enter-remark-open {
        display: flex;
        opacity: 1;
    }

    &_btnbox {
        display: flex;
        gap: f.rem(12);
        opacity: 0;
    }

    &_btnbox-open {
        display: flex;
        opacity: 1;
    }
}

.item-open {
    height: f.rem(119.6);
} 

.item-transition {
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  }
  
  /* 進入動畫的初始狀態 */
  .item-enter {
    opacity: 0;
    transform: scaleY(0.01) translate(f.rem(48), 0);
  }
  
  /* 離開動畫 */
  .item-leave {
    opacity: 0;
    transform: scaleY(1) translate(f.rem(-48), 0);
    position: absolute;
  }



  