@use '_functions' as f;

.enter {
    display: flex;
    width: 100%;

    &_text {
        flex-grow: 1;
        padding: f.rem(10) f.rem(12);
        margin-right: f.rem(8);
        background-color: var(--pms6c);
        font-size: f.rem(16);
        
        border: none;
        border: 2px solid rgb(222, 222, 222);

        border-radius: f.rem(8);
    }

    &_btn {
        padding: f.rem(12) f.rem(16);
        font-size: f.rem(20);
        color: aliceblue;
        background-color: #e7cd79;
        border: none;
        border-radius: f.rem(8);
        cursor: pointer;
    }
}

